# Build output
/_[Oo]utput
/_[Pp]ackages
/_[Tt]emp
/_[Tt]est
/_[Tt]ools

# Documentation output
/RI.Documentation.Framework.NetFx/Help
/RI.Documentation.Framework.Unity.Full/Help
/RI.Documentation.Framework.Unity.Light/Help

# Project output
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet files
**/packages/*
!**/packages/build/

# Test files
[Tt]est[Rr]esult*/

# Deployment files
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
